@(friendForm:Form[FriendData])

@import helper._

@main("Swipetup Home") {
<div style="text-align: center; margin-top: 50px;">
    <div style="text-align: left; display: inline-block;">
        @helper.form(action = controllers.routes.Home.proceed) {
        <h2>Type your friend's name to see his preferences</h2>

        <div style="margin-top: 24px;">
            @inputText(friendForm("name"), '_label -> "Friend's name")
        </div>

        <h2 style="margin-top: 24px;">or leave it blank to choose your own</h2>
        <input style="margin-top: 24px;"
               class="form-button"
               type="submit"
               value="Proceed">
        }
    </div>
</div>
}