@(friendForm:Form[FriendData])

@import helper._

@main("Swipetup Home") {
<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
    <div style="text-align: left; display: inline-block;">
        @helper.form(action = controllers.routes.Home.proceed) {
        <h2>Type your friend's name to see their preferences</h2>

        <div style="margin-top: 24px">
            @inputText(friendForm("name"), 'placeholder -> "e.g. Adam Smith",
            '_label -> null, 'class -> "form-input")
        </div>

        <h2 style="margin-top: 24px;">or leave it blank to choose your own ones.</h2>
        <input style="margin-top: 24px;"
               class="form-button"
               type="submit"
               value="Proceed">
        }
    </div>
</div>
}