@(friendForm:Form[SearchData], categories: Map[String, String], name: String = "")

@import helper._

@main("Swipetup Preferences") {
<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
    <div style="text-align: left; display: inline-block;">
        <h2 style="font-size: 18px;">Find your most accurate Meetup Events:</h2>

        <div style="margin-top: 24px;">
            @helper.form(action = controllers.routes.Preferences.search) {
            <div style="margin-top: 24px; display: inline;">
                <div style="float: left">
                    @inputText(friendForm("city"), '_label -> "City", 'class -> "form-input")
                </div>
                <a title="Locate automatically" href="#0" id="locating">
                    <img style="margin-top: 23px; margin-left: 10px; height: 20px; width: 20px;"
                         src='@routes.Assets.at("images/location-32.png")'/>
                </a>
            </div>
            <div style="margin-top: 24px">
                @select(friendForm("category"), options(categories), '_label -> "Category",
                'multiple -> None,
                'class -> "form-input form-input-select")
            </div>
            <div style="margin-top: 24px">
                @inputText(friendForm("text"), '_label -> "Text", 'class -> "form-input")
            </div>
            <div style="margin-top: 24px">
                @inputDate(friendForm("startDate"), '_label -> "Start date", 'class -> "form-input")
            </div>
            <div style="margin-top: 24px">
                @inputDate(friendForm("endDate"), '_label -> "End date", 'class -> "form-input")
            </div>
            <input style="margin-top: 24px;"
                   class="form-button"
                   type="submit"
                   value="Search">
            }
        </div>
    </div>
</div>
}
<script>
    $(function () {
        $("#locating").click(function () {
            navigator.geolocation.getCurrentPosition(function (position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var geolocatingUrl = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + latitude + "," + longitude;
                $.get(
                        geolocatingUrl,
                        function (response) {
                            var results = response.results;
                            var city = null;
                            if (Array.isArray(results)) {
                                for (var i = 0; i < results.length; i++) {
                                    if (city !== null && city !== undefined) {
                                        break;
                                    }
                                    var result = results[i];
                                    var address_components = result.address_components;
                                    if (Array.isArray(address_components)) {
                                        for (var j = 0; j < address_components.length; j++) {
                                            if (city !== null && city !== undefined) {
                                                break;
                                            }
                                            var address_component = address_components[j];
                                            if (address_component.types.indexOf("locality") >= 0) {
                                                city = address_component.long_name;
                                            }
                                        }
                                    }
                                }
                            }
                            if (city !== undefined && city !== null) {
                                $('#city').val(city);
                            } else {
                                alert('City not located');
                            }
                        }
                )
            });
        });
    });
</script>
