@(events: List[EventData])

@main("Swipetup Timeline") {
<header>
    <img src='@routes.Assets.at("images/logo.png")'/>
</header>

<section id="cd-timeline" class="cd-container">
    @for(event <- events) {
    <div class="cd-timeline-block" active="@event.active">
        <div class="cd-timeline-bubble">
            <span>@event.friends</span>
        </div>
        <!-- cd-timeline-bubble -->

        <div class="cd-timeline-content">
            <h2>@event.title</h2>

            <p>@event.description</p>
            <a href="#0" class="cd-activation-button"></a>
            <span class="cd-date">@event.time</span>
        </div>
        <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
    }
</section>
<!-- cd-timeline -->
<script>
    $(function () {
        console.log("CSS transitions enabled: " + Modernizr.csstransitions);
        $(".cd-activation-button").click(function (event) {
            var timeline_block = $(event.target).closest('.cd-timeline-block');
            var activation_state = timeline_block.attr('active');
            if (activation_state === 'true') {
                timeline_block.attr('active', 'false');
            } else {
                timeline_block.attr('active', 'true');
            }
        });
    });
</script>
}