TIMELINE !!
<!--<!doctype html>-->
<!--<html lang="en" class="no-js">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>-->

<!--<link rel="stylesheet" href='@routes.Assets.at("stylesheets/reset.css")'>-->
<!--&lt;!&ndash; CSS reset &ndash;&gt;-->
<!--<link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'>-->
<!--&lt;!&ndash; Resource style &ndash;&gt;-->
<!--<script src='@routes.Assets.at("javascripts/modernizr.js")'></script>-->
<!--&lt;!&ndash; Modernizr &ndash;&gt;-->

<!--<title>Swipetup</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--<img src='@routes.Assets.at("images/logo.png")'/>-->
<!--</header>-->

<!--<section id="cd-timeline" class="cd-container">-->
<!--<div class="cd-timeline-block" active="false">-->
<!--<div class="cd-timeline-bubble">-->
<!--<span>7</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-bubble &ndash;&gt;-->

<!--<div class="cd-timeline-content">-->
<!--<h2>Event title</h2>-->

<!--<p>This is an inactive event</p>-->
<!--<a href="#0" class="cd-activation-button"></a>-->
<!--<span class="cd-date">Date and time</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-content &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-block &ndash;&gt;-->

<!--<div class="cd-timeline-block" active="true">-->
<!--<div class="cd-timeline-bubble">-->
<!--<span>999</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-bubble &ndash;&gt;-->

<!--<div class="cd-timeline-content">-->
<!--<h2>Event title placeholder</h2>-->

<!--<p>This is an active event</p>-->
<!--<a href="#0" class="cd-activation-button"></a>-->
<!--<span class="cd-date">Date and time</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-content &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-block &ndash;&gt;-->

<!--<div class="cd-timeline-block" active="true">-->
<!--<div class="cd-timeline-bubble">-->
<!--<span>0</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-bubble &ndash;&gt;-->

<!--<div class="cd-timeline-content">-->
<!--<h2>Event title</h2>-->

<!--<p>This is an inactive event</p>-->
<!--<a href="#0" class="cd-activation-button"></a>-->
<!--<span class="cd-date">Date and time</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-content &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-block &ndash;&gt;-->

<!--<div class="cd-timeline-block" active="false">-->
<!--<div class="cd-timeline-bubble">-->
<!--<span>20</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-bubble &ndash;&gt;-->

<!--<div class="cd-timeline-content">-->
<!--<h2>Event title placeholder</h2>-->

<!--<p>This is an active event</p>-->
<!--<a href="#0" class="cd-activation-button"></a>-->
<!--<span class="cd-date">Date and time</span>-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-content &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; cd-timeline-block &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; cd-timeline &ndash;&gt;-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src='@routes.Assets.at("javascripts/main.js")'></script>-->
<!--&lt;!&ndash; Resource jQuery &ndash;&gt;-->
<!--<script>-->
<!--$(function () {-->
<!--console.log("CSS transitions enabled: " + Modernizr.csstransitions);-->
<!--$(".cd-activation-button").click(function (event) {-->
<!--var timeline_block = $(event.target).closest('.cd-timeline-block');-->
<!--var activation_state = timeline_block.attr('active');-->
<!--if (activation_state === 'true') {-->
<!--timeline_block.attr('active', 'false');-->
<!--} else {-->
<!--timeline_block.attr('active', 'true');-->
<!--}-->
<!--});-->
<!--});-->
<!--</script>-->
<!--</body>-->
<!--</html>-->